<div class="container">
    <h2>new user detail and book</h2>
    <div class="row">
        <div class="col-md-12 mt-2">
            <div class="card p-4">
                <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" ngNativeValidate>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="customer.firstName" placeholder="First Name" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="middleName">Middle Name</label>
                            <input type="text" class="form-control" name="middleName" #middleName="ngModel" [(ngModel)]="customer.middleName" placeholder="Middle Name" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="customer.lastName" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="document">Document</label>
                            <select class="custom-select" name="documentId" #documentId="ngModel" [(ngModel)]="customer.documentId" required>
                                <option value="">Select Document</option>
                                <option value="2">Passport</option>
                                <option value="1">DNI Number</option>
                                <option value="3">PAN</option>
                                <option value="4">Driving License</option>
                                <option value="5">Other</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="documentNumber">Document Number</label>
                            <input type="text" class="form-control" name="documentNo" #documentNo="ngModel" [(ngModel)]="customer.documentNo" placeholder="Document Number" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="telephone">Telephone Number</label>
                            <input type="text" class="form-control" name="phoneNo" #phoneNo="ngModel" [(ngModel)]="customer.phoneNo" placeholder="Telephone" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="addressLine1">Address Line 1</label>
                            <input type="text" class="form-control" name="addressLine1" #addressLine1="ngModel" [(ngModel)]="customer.addressLine1" placeholder="Address Line 1" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="addressLine2">Address Line 2</label>
                            <input type="text" class="form-control" name="addressLine2" #addressLine2="ngModel" [(ngModel)]="customer.addressLine2" placeholder="Address Line 2" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="country">Country</label>
                            <select name="country" #country="ngModel" [(ngModel)]="customer.country" class="form-control" required>
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="state">State</label>
                            <select name="state" #state="ngModel" [(ngModel)]="customer.state" class="form-control" required>
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="city">City</label>
                            <input type="text" class="form-control" name="city" #city="ngModel" [(ngModel)]="customer.city" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="zip">Zip Code</label>
                            <input type="text" class="form-control" name="zipcode" #zipcode="ngModel" [(ngModel)]="customer.zipcode" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">Book Room</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>