<div class="container">
    <h2>{{roomStatus}}</h2>
    <div class="row">
        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="row">
                    <div class="col-md-3">
                        <img class="roomImg" src="https://images.oyoroomscdn.com/uploads/hotel_image/39654/medium/c9373c2b206174a2.jpg">
                    </div>
                    <div class="col-md-9">
                        <div class="containerPanel">
                            <h4><b>Jane Doe</b></h4>
                            <p>Interior Designer</p>
                            <button type="button" class="btn btn-primary btnRoomSubmit">{{roomBtnText}}</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="row">
                    <div class="col-md-3">
                        <img class="roomImg" src="https://images.oyoroomscdn.com/uploads/hotel_image/39654/medium/c9373c2b206174a2.jpg">
                    </div>
                    <div class="col-md-9">
                        <div class="containerPanel">
                            <h4><b>Jane Doe</b></h4>
                            <p>Interior Designer</p>
                            <button type="button" class="btn btn-primary btnRoomSubmit">{{roomBtnText}}</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>