.card {
    padding: 15px;
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

#ImgLogin {
    padding: 15px;
    width: 250px;
}

.btn-menu {
    width: 100%;
    color: #fff;
    border-color: #007bff;
    background-image: linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%)
}

.btn-menu {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-menu:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}