<div class="row">
    <div class="col-md-6">
        <img id="ImgLogin" src="../../../../assets/images/login.jpg " />
    </div>
    <div class="col-md-6">
        <div class="card text-center">
            <h2>Century Motel</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="UserName" />
                <br>
                <input type="password" class="form-control" placeholder="Password" />
                <br>
                <input type="button" value="Proceed" class="btn btn-primary" routerLink="/dashboard" />
            </div>
        </div>
    </div>
</div>